h5 {
  color: grey;
}

.btn {
  padding: 18px 36px 18px 36px;
  font-size: 86px;
  margin: 0 10px 0px 10px;
}

.score {
  font-size: 50px;
}

.score-box {
  border: solid 1px;
  box-shadow: 5px 10px grey;
  padding-top: 10px;
}
