h1, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.72);
}

.btn {
  padding: 10px 36px 10px 36px;
  font-size: 106px;
  margin: 0 10px 0px 10px;
}

.score {
  font-size: 42px;
}

.score-box {
  border: solid 1px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.72);
  padding: 10px;
}

.score-text {
  height: 70px;
  width: 120px;
  overflow-y: auto;
  /* overscroll-behavior: smooth; */
  scroll-behavior: smooth;
  line-height: 8px;
}

.x-margin {
  margin: 15px;
}
