#board {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 0fr);
  grid-template-columns: repeat(var(--grid-cols), 0fr);
  border: solid 3px #dcdcdc;
}

.grid-item {
  padding: 1em;
  text-align: center;
  background-color: #ededed;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ededed;
  overflow-x: hidden;
  padding-top: 20px;
}
